<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is web based drawing tool made with JavaScript (vue.js) which contain functions related to print and save the drawings">
    <link rel="stylesheet" href="./style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://kit.fontawesome.com/029682b453.js" crossorigin="anonymous"></script>
    <title>WebDraw</title>
</head>
<body>
    <div id="app">
        <div class="menu" :style="{'color' : dark ? 'white' : 'black', 'background-color' : dark ? 'rgb(102, 100, 100)' : 'rgb(223 223 223)'}">
            <ul class="navItems">
                <li id="hamburger" @click="hamburger = !hamburger"><i class="fas" :class="{'fa-bars': !hamburger, 'fa-times-circle': hamburger}"></i></li>
                <li @click="selectTool('pencil', $event)" title="Pencil" :class="{activeTool: tool == 'pencil'}"><i class="fas fa-pencil-alt"></i></li>
                <li @click="selectTool('eraser', $event)" title="Eraser" :class="{activeTool: tool == 'eraser'}"><i class="fas fa-eraser"></i></li>
                <li @click="selectTool('line', $event)" title="Line" :class="{activeTool: tool == 'line'}"><i class="fas fa-slash"></i></li>
                <li @click="selectTool('circle', $event)" title="Circle" :class="{activeTool: tool == 'circle'}"><i class="far fa-circle"></i></li>
                <li @click="selectTool('rect', $event)" title="Rectangle" :class="{activeTool: tool == 'rect'}"><i class="far fa-square"></i></li>
                <li title="Stroke"><input type="color" class="colorPicker" v-model="stroke"></li>
                <li title="Fill" v-if="tool == 'rect' || tool == 'circle'"><input type="color" class="colorPicker" v-model="fill"></li>
                <li  title="Stroke Linecap" v-if="tool == 'line'">
                    <select style="height: 100%;" v-model="linecap">
                        <option value="butt">&#11035;</option>
                        <option value="round">&#9899;</option>
                    </select>
                </li>
                <li title="Stroke Width" id="stroke-width"><input type="range" name="vol" min="0" max="50" v-model="strokeWidth"></li>
                <li @click="trash" title="Trash"><i class="fas fa-trash-alt"></i></li>

            </ul>
            <ul class="itemOptions" v-if="hamburger">
                <li @click="saveArt"><i class="fas fa-save"></i>Save</li>
                <li @click="showOpen"><i class="fas fa-folder-open"></i>Open</li>
                <li id="openOptions" v-if="openModal">
                    <select @change="openArt">
                        <option value="">Choose an Item</option>
                        <option :value="option" v-for="option in openOptions">{{option.substring(4, option.length)}}</option>
                    </select>
                </li>
                <li><i class="fas fa-upload"></i>Import <input type="file" @change="importArt"></li>
                <li @click="exportArt"><i class="fas fa-download"></i>Export</li>
                <li @click="dark = !dark"><i class="fas" :class="{'fa-moon': !dark, 'fa-sun': dark}"></i>{{dark ? 'Light' : 'Dark'}} Theme</li>
                <li onclick="print();"><i class="fas fa-print"></i>Print</li>
                <li onclick="confirm('Are you really want to close?') ? window.close() : ''"><i class="fas fa-sign-out-alt"></i></i>Close</li>
            </ul>
        </div>

        <svg class="artboard" :style="{'background-color' : dark ? 'black' : 'white'}" @mousemove="move" @mousedown="start">
            <rect v-for="rect in art.rect" 
                :x="rect.x"
                :y="rect.y"
                :width="rect.width"
                :height="rect.height"
                :rx="rect.radius"
                :ry="rect.radius"
                :style="{fill: rect.fill, stroke: rect.stroke, 'stroke-width': rect.strokeWidth}"
            />

            <circle v-for="circle in art.circle" 
                :cx="circle.x"
                :cy="circle.y"
                :r="circle.radius"
                :stroke="circle.stroke"
                :stroke-width="circle.strokeWidth"
                :fill="circle.fill"
            />

            <line v-for="line in art.line" 
                :x1="line.x1" 
                :y1="line.y1" 
                :x2="line.x2" 
                :y2="line.y2" 
                :style="{stroke: line.stroke, 'stroke-width': line.strokeWidth, 'stroke-linecap': line.linecap}" 
            />

        </svg>

        
    </div>
</body>
<script src="./script.js"></script>
</html>